# Database
DB_USER=postgres
DB_PASSWORD=changeme

# Keycloak
KEYCLOAK_URL=https://sso.greact.ru/realms/{{projectName}}

# Frontend (build-time)
VITE_KEYCLOAK_URL=https://sso.greact.ru
VITE_KEYCLOAK_REALM={{projectName}}
VITE_KEYCLOAK_CLIENT_ID={{projectName}}-frontend
VITE_API_URL=/api
