version: '3.8'

services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: aid-backend
    environment:
      - FS_ROOT_PATH=/data
    volumes:
      - /data/aid:/data
    networks:
      - proxy
    restart: unless-stopped

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: aid-frontend
    networks:
      - proxy
    restart: unless-stopped

networks:
  proxy:
    external: true
